.firstdiv {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(218, 201, 215);
}
.button {
    display: flex;
    justify-content: center;
    background-color: red;
    height: 50px;
    width: 100px;
}
